---
const { projectName, projectDescription, projectLink } = Astro.props;
---

<a
  href={projectLink}
  class="text-white scale-90 md:scale-100 p-5 rounded-md bg-neutral-800 hover:brightness-105 space-y-2"
>
  <h3 class="text-white font-semibold text-xl">{projectName}</h3>
  <p class="text-[14px] font-white opacity-70">{projectDescription}</p>
</a>
